body {
    background-color: #000000;
}

#group {
    background-color: #EBD0A4;
}
h1 {
    background: url('../images/large_header.png') repeat-x;
}

#events {
    background-color: #EBD0A4;
}
#members {
    background-color: #EBD0A4;
}
h2 {
    background: url('../images/medium_header.png') repeat-x;
}

#presentations, #extra, #contacts {
    background-color : #EBD0A4;
}

h3 {
    background: url('../images/small_header.png') repeat-x;
}
