body {
    margin:  0px;
    padding: 0px;
    
    text-align: center;  /* center #page div */
}
#page {
	width:   760px;
	margin:  0px auto;
	padding: 0px;
	
    text-align: left;  /* restore normal alignment */
}

#group {
    min-height: 137px;
}
#group .description {
    padding: 5px 30px 35px 30px;
}

#events_and_members {
	overflow: hidden;
}
#events, #members {
    width:      370px;
    min-height: 292px;
    margin:     20px 0px -300px 0px;
    padding:    0px 0px 300px 0px;
    float:      left;
}
#events {
    margin-right: 20px;
}
#events, #members {
    text-align: center;  /* center .member div */
}
#events .event, #members .member {
  width:      310px;
  margin:     0px auto;
  padding:    5px 0px 35px 0px;
  text-align: left;  /* restore normal alignment */
}
#members .member img {
    float:        left;
    margin-right: 10px;
}
#events .event span, #members .member span {
    display: block;
}
#events .event .content {
	padding-left: 30px;
}
#events .event .paginator, #presentations .paginator {
	display: none;
}

#presentations .partial_list {
	padding-top: 1em;
}

#presentations .content {
  margin: 0;
}

#presentations .content .title {
	display: block;
}

#presentations, #contacts {
    clear:   both;
    width:   760px;
    margin:  20px 0px 20px 0px;
    padding: 0px 0px 20px 0px;
}

#presentations .content, #contacts .resources {
    padding: 0px 30px 0px 55px;
}

.full_list {
	display: none;
}

#videos {
  float:   right;
  padding: 20px 20px 0px 20px;	
}
